* {
  border: none;
  border-radius: 0px;
  font-family: Incosolata;
  font-size: 12px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  background: #292b2e;
/* background: transparent;*/
  color: #cdd6f4;
}

#workspaces {
  background: #1e1e2e;
  margin: 5px 2px 5px 2px;
/*  padding: 0px 3px 0px 3px;*/
  border-radius: 16px;
  border: solid 0px #cdd6f4;
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
  padding: 0px 2px;
  border-radius: 16px;
  color: #6c7086;
}

#workspaces button.active {
  color: #cdd6f4;
  background-color: transparent;
  border-radius: 16px;
}

#workspaces button:hover {
  background-color: #e6b9c6;
  color: black;
  border-radius: 16px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-launcher {
  background: transparent;
/*  padding: 5px 5px 5px 5px;*/
  margin: 5px 0px 5px 0px;
  border-radius: 8px;
  border: solid 0px #cdd6f4;
}

#custom-date {
  color: #d3869b;
}

#clock {
  color: #89b4fa;
  background-color: #1e1e2e;
  border-radius: 0px 0px 0px 16px;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 0px;
  margin-left: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  /*border-left: solid 1px #282738;*/
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#backlight {
  color: #cdd6f4;
  border-radius: 0px 0px 0px 0px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
}

#network {
  color: #cdd6f4;
  border-radius: 8px;
  margin-right: 5px;
}

#pulseaudio {
  color: #cdd6f4;
  border-radius: 8px;
  margin-left: 0px;
}

#pulseaudio.muted {
  background: transparent;
  color: #928374;
  border-radius: 8px;
  margin-left: 0px;
}


#custom-launcher {
  color: #cdd6f4;
  background-color: #1e1e2e;
  border-radius: 0px 24px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding: 0 20px 0 13px;
  /*border-right: solid 1px #282738;*/
  font-size: 20px;
}

#custom-launcher button:hover {
  background-color: #b4befe;
  color: transparent;
  border-radius: 8px;
  margin-right: -5px;
  margin-left: 10px;
}

#window {
  background: #1e1e2e;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: normal;
  font-style: normal;
}

#tray,
#cpu ,
#network,
#temperature,
#pulseaudio,
#custom-layout,
#custom-mouse,
#memory {
  background-color: #1e1e2e;
  /*color: #83A598;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#idle_inhibitor {
  background-color: #1e1e2e;
  /*color: #83A598;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#idle_inhibitor.activated {
  background-color: #69080c;
}
